<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>USAID Business Forecast Changes Email</title>
<style type="text/css">@media only screen and (max-width: 600px) {
    a[class="btn"] {
        display: block;
        margin-bottom: 10px;
        background-image: none;
        margin-right: 0
        }
    div[class="column"] {
        width: auto;
        float: none
        }
    table.social div[class="column"] {
        width: auto
        }
    }</style>
	

</head>
 
<body bgcolor="#FFFFFF" style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; font-family:Tahoma, Geneva, sans-serif; height:100%; width:100%" height="100%" width="100%">

<!-- HEADER -->
<table class="head-wrap" style="width:100%" width="100%">
	<tr>
		<td></td>
		<td class="header container" style="clear:both; display:block; margin:0 auto; max-width:600px">
				
				<div class="content" style="display:block; margin:0 auto; max-width:600px; padding:15px">
				<table style="width:100%" width="100%">
					<tr>
						<td></td>
						<td align="right"><h6 class="collapse" style='color:#444; font-family:"Tahoma, Geneva, sans-serif"; line-height:1.1; margin-bottom:15px; font-size:14px; font-weight:900; text-transform:uppercase; margin:0; padding:0'></h6></td>
					</tr>
				</table>
				</div>
				
		</td>
		<td></td>
	</tr>
</table>
<!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap" style="width:100%" width="100%">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF" style="clear:both; display:block; margin:0 auto; max-width:600px">

			<div class="content" style="display:block; margin:0 auto; max-width:600px; padding:15px">
			<table style="width:100%" width="100%">
				<tr>
					<td>
						<p class="greeting" style="font-size:38px; font-weight:normal; line-height:1.6; margin-bottom:10px; font-family:Impact, Charcoal, sans-serif"></p>
						<p class="lead" style="font-size:24px; font-weight:normal; line-height:1.6; margin-bottom:10px">You want off this email list? You got it. We're sad to see you go.</p>
						<p style="font-size:21px; font-weight:normal; line-height:1.6; margin-bottom:10px">If you ever want get back on this mailing list just send an email to <a href="mailto:usaid-forecast-list-manager@rti-ghd.org?subject=subscribe">usaid-forecast-list-manager@rti-ghd.org</a> with the subject <span style="font-style: italic">subscribe</span> and we'll get you back on.</p>
						<p style="font-size:21px; font-weight:normal; line-height:1.6; margin-bottom:10px">
						
						<br/><br/>
						</p>
						<!-- Callout Panel -->
						<!-- /Callout Panel -->					
												
						<!-- social & contact -->
						<table class="social" width="100%" style="background-color:#FFFFFF; width:100%" bgcolor="#ebebeb">
							<tr>
								<td>
							
									
									<!-- column 2 -->
									<table style="width:100%" width="100%">
										<tr>
											<td> 
											</td>
										</tr>
									</table>
<!-- /column 2 -->
									
									<span class="clear" style="clear:both; display:block"></span>	
									
								</td>
							</tr>
						</table>
<!-- /social & contact -->
						
					</td>
				</tr>
			</table>
			</div>
<!-- /content -->
									
		</td>
		<td></td>
	</tr>
</table>
<!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap" style="width:100%; clear:both" width="100%">
	<tr>
		<td></td>
		<td class="container" style="clear:both; display:block; margin:0 auto; max-width:600px">
			
				<!-- content -->
				<div class="content" style="display:block; margin:0 auto; max-width:600px; padding:15px">
				<table style="width:100%" width="100%">
				<tr>
					<td style="text-align: right;">
						<td style="text-align: right;">
							<img src="https://forecastalerter.herokuapp.com/images/RTI_logo_blue.gif" style="max-width:100%; vertical-align:middle" valign="middle">
					</td>
				</tr>
			</table>
				</div>
<!-- /content -->
				
		</td>
		<td></td>
	</tr>
</table>
<!-- /FOOTER -->

</body>
</html>